set timeout=3
set default=0

menuentry "Rust SPFDisk TUI" {
    linux /boot/vmlinuz quiet init=/init rdinit=/init
    initrd /boot/initramfs.img
}

menuentry "Rust SPFDisk CLI shell" {
    linux /boot/vmlinuz quiet init=/init rdinit=/init rspfdisk_cli=1
    initrd /boot/initramfs.img
}